<div class=”col-xs-10 col-xs-offset-1 about”>
   <h1>About RoeQuotes</h1>

<p>
    RoeQuotes was built by <a target="_blank" href="http://github.com/MonroeMann">Monroe Mann</a> as a way to freely share some of the inspiration (and some say, wisdom!) he has come up with over the years from his books, speeches, and tv appearances.  
  </p>
  <p>
    He created this project as the first in his coding journey at The Firehose Project--a school in which he enrolled to learn how to become a ruby on rails web developer.
  </p>
  <p>
    All of the books and courses mentioned under the quotations are publicly available at amazon, bn, udemy, etc.  If you'd like to read more about Monroe: <a target="_blank" href="http://www.monroemannlaw.com/"> click here</a>.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'mmphoto.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Monroe Mann</h2>
    <br />
    <p>
      Dr. Monroe Mann, PhD is a motivational speaker, 8-time publisher author, licensed attorney, bronze-star nominated Iraq war vet, and now... web developer.  It is his hope that in 2017, he will become good enough at coding to help even more people by offering web and mobile applications that can positively change people's lives.
    </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
<br />
<br />