
<h2>
  <span>Quote No. <%= @quote.id %></span>
</h2>

<h1><%= @quote.saying %></h1>
<h2><%= @quote.author %></h2>

<br class="clear" />
<br />


<!--ISSUES AND BUGS WITH FIRST LAUNCH
//Everything looks to small on mobile
//The quotes are left-justified.  It would be nice if they were center and justified
//When turned sideways on mobile, the button disappears
//The footer text on mobile is too small
//On desktop, the 'another quote' button has weird issues when you hover, and press on it
//On mobile, there is far too much white space under the quote and the button
//Because of the random() function, often the generator returns the same quote twice.  People think it's a bug.  How to fix it?
//The 'Another Quote' button is way too small on mobile.  It should be really big.
//The 'slogan' is too small to read on mobile.-->